 <!-- Hero Section -->
 <div class="position-relative bg-primary overflow-hidden">
    <div class="container position-relative space-top-3 space-top-md-4 space-bottom-3" 
    style="background-image: url('./assets/images/bg/young-girl-hd1.png'); background-repeat: no-repeat; background-position: center;
     background-size: cover;">
      <div>      
      
      <div class="row">
        <div class="col-lg-2 col-sm-12 margin-top-minus-45 header-fix-top z-index-999">
        <app-menu></app-menu>
        </div>

        <div class="col-lg-9 col-sm-12 offset-3">
          <div class="w-md-80 w-xl-80 text-center mx-md-0 mb-4">
            <div class="mb-2">
              <h1 class="display-5 text-dark mb-4">Welcome to CR <span class="font-italic">HIP</span> Portal</h1>
            </div>
            <app-search-component></app-search-component>
          </div>
        </div>

      </div>
      </div>

    </div>

    <!-- SVG Shapes -->

    <figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
        <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z" />
      </svg>
    </figure>
    <!-- End SVG Shapes -->
  </div>
  <!-- End Hero Section -->