<div class="text-left">
    <a class="btn btn-link text-dark p-0" data-toggle="collapse" href="#menu" role="button" aria-expanded="false" aria-controls="menu">
        <i class="fas fa-bars text-dark"></i> <span class="text-hover-primary"> Menu</span>
    </a>
    <div class="collapse w-lg-100" id="menu">
        <div class="card card-body card-body-height shadow-none">
            <!-- Basics Accordion -->
            <div id="basicsAccordion">
                    <!-- Card -->
                     <!-- <div class="overflow-hidden mb-1" *ngFor="let topic of topics; let i = index;">
                        <div class="card-header p-0"  id="basicsHeading{{topic.topic?.id}}">
                            <button type="button" id="menu_button" style="font-size:16px" class="close_menu btn btn-link  btn-block font-size-40 card-btn d-flex justify-content-between collapsed p-0" 
                            data-toggle="collapse" [attr.data-target]="'#collapse'+ topic.topic?.id" aria-expanded="false" [attr.aria-controls]="'collapse'+topic.topic?.id">
                                {{topic.topic?.name}}
                                <span class="card-btn-toggle">
                                    <span class="card-btn-toggle-default text-dark">+</span>
                                    <span class="card-btn-toggle-active text-dark">−</span>
                                </span>
                            </button>
                        </div>
                        <div id="collapse{{topic.topic?.id}}" class="collapse pl-3" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
                            <div class="card-body p-1">
                                <ul class="list-unstyled" > 
                                     *ngFor="let art of articles; let i=index;"
                                        <li class="pt-1"><a class="text-dark font-weight-light font-size-40" href=""></a></li>                                    
                                </ul>
                                <button type="button" onclick="window.open('./topic/'+topic.topic?.id, '_self')" id="view-more-topic.topic.id"
                                class="btn btn-primary btn-block font-size-35 justify-content-between p-0">
                                View More
                            </button>
                            </div>
                        </div>
                    </div>  -->
                    <!-- End Card -->
               

            </div>
            <!-- End Basics Accordion -->

        </div>
    </div>

</div>